.Todo {
	margin-top: 60px;
	font-size: 14px;
	font-family: Roboto;
	margin-left: -15px;
	width: 220px;
}
/*.addTodo {
    font-family: Tahoma;
}*/
.addTodo {
	/*margin-top: -2px !important;
	font-size: 20px;*/
	border-style: none;
	background-color: #fff;
}
.addTodo:hover {
	cursor: pointer;
	/*background-color: #939393;*/
	/*border-color: #3b5998;*/
	/*color: #fff;*/
}

.todoContainer {
	margin-top: 50px;
}

.todoForm {
	width: 190px;
	font-family: Tahoma;
}

.taskBtn {
	visibility: hidden;;
}

