.nav {
	/*float: left;*/
	background-color: #3B5998;
	/*font-family: Roboto;*/
	/*color: #fff;*/
	padding: 20px;
	width: 100%;
}
body {
	color: #fff;
}

.links:hover {
	color: #8b9dc3;
}

.container-user {
  min-width: 85%;
}

@media screen and (max-width: 360px) {
  }
