.icon {
  width: 60px;
  height: 60px;
  float:right;
  margin-top: -10px;
}

.weather-container {
	color: #000;
	font-family: Tahoma;
	margin-bottom: 60px;
}


h3 {
	font-size: 25px;
	margin-bottom: 40px;
	margin-top: 83px;

}

p {
	margin-bottom: 2px;
}