.container-signup {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 60vh;
  width: 100vw;
}

.container-view {
  border: 1px solid;
  padding: 2.4rem;
  text-align: center;
  width: 24rem;
  background-color: #3b5998;
}

.container-view-form {
  display: flex;
  flex-direction: column;
}

#signupBtn:hover {
  cursor: pointer;
  color: #3B5998;
}

.field-line-first {
   font-family: Tahoma;
   color: red;
}

.field-line-last {
  font-family: Tahoma;
}

.field-line-email {
  font-family: Tahoma;
}

.field-line-password {
  font-family: Tahoma;
}
