.userBarBtn {
	font-family: Tahoma;
	font-size: 16px;
	color: #fff;
	background: none;
	border: none;
	margin: 20px;

}

.userBarBtn:hover {
	color: #dfe3ee;
}

@media screen and (max-width: 360px) {
   .userBarBtn {
	   font-size: 14px;
	   margin: 5px;

   }
}